<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <link rel="shortcut icon" href="/images/icon/book.png" type="image/x-icon">
    <title>WebLibrary</title>
</head>
<body>

    <div class="main-container">

        <div class="conteudo">
            <%- include('../components/headerIndex') %>
            
            <main class="books-container">
                <div class="banner"></div>
                <div class="books">
                    <% livros.forEach(livro => { %>
                        <div class="book">
                            <div class="imagem">
                                <img src="<%=livro.lvr_capa%>" alt="">
                            </div>
                            <p><strong><%=livro.lvr_titulo%></strong></p>
                            <p class="invisible book-id"><%=livro.lvr_id%></p>
                            <p class="preco">R<span>$</span> <%=String(livro.valor_venda).replace('.', ',')%></p>
                            <div class="compra"><a href="#">Comprar</a></div>
                        </div>
                    <% }); %>
            </main>
            <div class="space"></div>

            <%- include('../components/footer') %>
        </div>

        <nav class="sidebar">
            <h2 for="">Cliente</h2>
            <ul>
                <li><a href="/clientes/signup?retorno=">Cadastro</a></li>
            </ul>
            <h2 for="">ADM</h2>
            <ul>
                <li><a href="/clientes">Gerenciar Clientes</a></li>
            </ul>
        </nav>

    </div>

    <script type="module" src="/javaScript/pages/index/index.js"></script>

</body>
</html>