<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/carrinho.css">
    <title>Carrinho</title>
</head>
<body>

    <div class="main-container">
       
        <%- include('../components/header', {
            titulo: 'Carrinho de João',
            path: '/'
        })%>

        <main>

            <div class="btn-add">
                <a href="">Adicionar Itens ao Carrinho</a>
            </div>

            <h2 class="title">Itens Adicionados: </h2>

            <% carrinho.forEach(item => { %>

                <div class="wrapper">
                    <div class="imagem">
                        <img src="<%=item.lvr_capa%>" alt="">
                    </div>
                    <div>
                        <p class="invisible book-id"><%=item.lvr_id%></p>
                        <p><h2><%=item.lvr_titulo%></h2></p>
                        <p><strong>R$<%=String(item.lvr_preco).replace('.', ',')%></strong></p>
                    </div>
                    <div>
                        <button class="diminuir">-</button>
                        <span id="contador">0</span>
                        <button class="aumentar">+</button>
                    </div>
                    <div class="acoes">
                        <button class="delete" >Remover</button>
                        <button>Alterar</button>
                    </div>
                </div>

            <% }); %>

            <h2 class="total">Total de R$220,00</h2>
            <div class="pagamento">
                <a href="/pagamento">Ir para Pagamento</a>
            </div>
        </main>

        <%- include('../components/footer')%>

    </div>


    <script type="module" src="/javaScript/pages/compras/carrinho.js"></script>
</body>
</html>