<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/pagamento.css">
    <title>Pagamento</title>
</head>
<body>

    <div class="main-container">
        
        <%- include('../components/header', {
            titulo: 'Pagamento',
            path: '/'
        })%>

        <main>
            <h2 class="items-title">Itens</h2>
            <section class="items container-items">

                <% carrinho.forEach(item => { %>

                    <div class="wrapper">
                        <div class="imagem">
                            <img src="<%=item.lvr_capa%>" alt="">
                        </div>
                        <div>
                            <p><h2><%=item.lvr_titulo%></h2></p>
                            <p><strong>R$<%=String(item.lvr_preco).replace('.', ',')%></strong></p>
                        </div>
                        <div>
                            <span id="contador"><strong>Qtd:</strong><%=item.crr_qtd%></span>
                        </div>
                    </div>

                <% }); %>

                
            </section>
            <section class="informacoes">
                <div class="enderecos">

                    <h2 class="title">Escolha um Endereço: </h2>

                    <div class="container">
                        <div class="wrapper">
                            <label for="endereco"><strong>Selecione um endereço:</strong></label>
                            
                            <select name="endereco" id="endereco">
                                <% enderecos.forEach(endereco => { %>
                                    <option value="<%= endereco.end_id %>">
                                    <%= endereco.end_nome %> - <%= endereco.end_bairro %>, Nº <%= endereco.end_numero %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
        
                        <div class="add">
                            <a href="/perfil?retorno_pag=pagamento&tipo=endereco">Editar Endereço</a>
                            <a href="">Adicionar Endereço</a>
                        </div>
                    </div>
                      
                </div>
                <div>
                    <h2 class="title">Escolha um Método de Pagamento: </h2>
                    <div class="container">

                        <div class="wrapper">
                            <label for="cartao"><strong>Selecione um cartão:</strong></label>
                            
                            <select name="cartao" id="cartao">
                                <% cartoesInativos.forEach(cartao => { %>
                                    <option value="<%= cartao.car_id %>">
                                    <%= cartao.car_bandeira %> - <%= cartao.car_nome %>, Final <%= cartao.car_numero.slice(-4) %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        
                        <div class="cartoes-adicionados">
                            <% cartoesAtivos.forEach(cartao => { %>
                                <div class="wrapper">
                                    <div class="card-main">
                                        <p class="invisible card-id"><%=cartao.car_id%></p>
                                        <h2><%=cartao.car_bandeira%></h2>
                                        <p><%=cartao.car_nome%></p>
                                        <p><strong>Final: </strong><%=cartao.car_numero.slice(-4)%></p>
                                    </div>
                                    <div class="acoes">
                                        <input class="valor" type="number" placeholder="Valor R$">
                                        <a class="rm-card">Remover</a>
                                    </div>
                                </div>
                            <% }) %>
                        </div>

                        <div class="add">
                            <a href="/perfil?retorno_pag=pagamento&tipo=cartao">Editar Cartão</a>
                            <a href="" class="add-card">Adicionar Cartão</a>
                        </div>
                    </div>
                    <div class="center">
                        <h3>Cupom:</h3>
                        <select name="cupons" id="cupons">
                                
                            <% cuponsInativos.forEach(cupom => { %>

                                <option value="<%=cupom.cup_valor%>" data-cup-id="<%=cupom.cup_id%>">R$<%=String(cupom.cup_valor).replace('.', ',')%></option>

                            <% }); %>
                        </select>
                        
                        <button class="add-cupom">Adicionar</button>

                        <div class="cupons-aplicados"> 
                            <% cuponsAtivos.forEach(cupom => { %>
                                <div class="cupom">
                                    <p class="invisible cup-id"><%=cupom.cup_id%></p>
                                    <p>-R$<%=String(cupom.cup_valor).replace('.', ',')%></p>
                                    <p><a class="rm-cup">X</a></p>
                                </div>
                            <% }); %>
                        
                        </div>
                    </div>
                </div>
                <div class="resumo">

                    <% 
                        const frete = 12;
                        let total = frete;
                        
                        carrinho.forEach(item => {
                            total += Number(item.crr_total);
                        });
                    
                        cuponsAtivos.forEach(cupom => {
                            total -= Number(cupom.cup_valor);
                        });
                    %>

                    <p>Frete: R$12,00</p>
                    <p class="total">Total: R$<%=String(total.toFixed(2)).replace('.', ',')%></p>
                </div>
            </section>
            <div class="finalizar-compra">
                <a class="finalizar-compra">Finalizar a Compra</a>
            </div>
        </main>

        <%- include('../components/footer')%>

    </div>

    <script type="module" src="/javaScript/pages/compras/pagamento.js"></script>
</body>
</html>