<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/pagamento.css">
    <title>Pagamento</title>
</head>
<body>

    <div class="main-container">
        
        <%- include('../components/header', {
            titulo: 'Pagamento',
            path: '/'
        })%>

        <main>
            <h2 class="items-title">Itens</h2>
            <section class="items container">

                <% carrinho.forEach(item => { %>

                    <div class="wrapper">
                        <div class="imagem">
                            <img src="<%=item.lvr_capa%>" alt="">
                        </div>
                        <div>
                            <p><h2><%=item.lvr_titulo%></h2></p>
                            <p><strong>R$<%=String(item.lvr_preco).replace('.', ',')%></strong></p>
                        </div>
                        <div>
                            <span id="contador"><strong>Qtd:</strong><%=item.crr_qtd%></span>
                        </div>
                    </div>

                <% }); %>

                
            </section>
            <section class="informacoes">
                <div class="enderecos">

                    <h2 class="title">Escolha um Endereço: </h2>

                    <div class="container">
                        <div class="wrapper">
                            <label for="endereco"><strong>Selecione um endereço:</strong></label>
                            
                            <select name="endereco" id="endereco">
                                <% enderecos.forEach(endereco => { %>
                                    <option value="<%= endereco.end_id %>">
                                    <%= endereco.end_nome %> - <%= endereco.end_bairro %>, Nº <%= endereco.end_numero %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
        
                        <div class="add">
                            <a href="">Adicionar Novo Endereço</a>
                        </div>
                    </div>
                      
                </div>
                <div>
                    <h2 class="title">Escolha um Método de Pagamento: </h2>
                    <div class="container">

                        <div class="wrapper">
                            <label for="cartao"><strong>Selecione um cartão:</strong></label>
                            
                            <select name="cartao" id="cartao">
                                <% cartoes.forEach(cartao => { %>
                                    <option value="<%= cartao.car_id %>">
                                    <%= cartao.car_bandeira %> - <%= cartao.car_nome %>, Final <%= cartao.car_numero.slice(-4) %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
        
                        <div class="add">
                            <a href="">Adicionar Novo Endereço</a>
                        </div>
                    </div>
                    <div class="center">
                        <h3>Cupom:</h3>
                        <select name="" id="">
                            <option value="">Nenhum</option>
                            <option value="">R$20,00</option>
                            <option value="">R$40,00</option>
                            <option value="">R$60,00</option>
                        </select>
                        <button>Adicionar</button>
                    </div>
                </div>
                <div class="resumo">
                    <p>Frete: R$12,00</p>
                    <p>Total: R$212,00</p>
                </div>
            </section>
            <div class="finalizar-compra">
                <a href="/pedidos">Finalizar a Compra</a>
            </div>
        </main>

        <%- include('../components/footer')%>

    </div>

    
</body>
</html>