<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/pedidos.css">
    <title>Pedidos</title>
</head>
<body>

    <div class="main-container">
        
        <%- include('../components/header', {
            titulo: 'Pedidos de João',
            path: '/'
        })%>

        <h2 class="title">Todos os Pedidos</h2>
        <main>

            <% pedidos.forEach(pedido => { %>

                <div class="wrapper">
                    <div class="imagem">
                        <img src="<%=pedido.lvr_capa%>" alt="">
                    </div>
                    <div>
                        <p><%=pedido.lvr_titulo%></p>
                        <p>R$100,00</p>
                    </div>
                    <div>
                        <p><strong><%=pedido.vnd_status%></strong></p>
                    </div>
                    <div class="acoes">
                        <a href="">Trocar</a>
                    </div>
                </div>

            <% }); %>
        </main>

        <%- include('../components/footer')%>

    </div>
</body>
</html>