<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/clientes/transacoes.css">
    <title>Transações</title>
</head>
<body>
    <div class="voltar"><a href="/clientes">Voltar</a></div>
    <div class="container-tran">
        <div class="transaction">
            <h2>Transações de <span id="nome-cliente"></span></h2>
            <p>Email: <span id="email-cliente"></span></p>

            <table id="lista-transacoes">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data e Hora</th>
                        <th>Tipo de Ação</th>
                        <th>Ações</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    <% transacoes.forEach(transacao => { %>

                        <tr>
                            <td><%=transacao.trs_id%></td>
                            <td><%=transacao.trs_dataHora%></td>
                            <td><%=transacao.trs_tipo%></td>
                            <td><%=transacao.trs_acao%></td>
                            <td><%=transacao.trs_status%></td>
                        </tr>
                        
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <script type="module" src="/javaScript/pages/clientes/transacoes.js"></script>

</body>
</html>