<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/analise/historicoVendas.css">
    <title>Histórico de Vendas</title>
</head>
<body>

    <div class="main-container">
       
        <%- include('../components/header', {
            titulo: 'Histórico de Vendas',
            path: '/'
        })%>

        <main>

            <div class="box data">
                <h2 class="title-periodo">Período</h2>
                <p>Início: </p>
                <p class="periodo"><input type="date"></p>
                <p>Fim: </p>
                <p class="periodo"><input type="date"></p>

                <div class="btn-flt-data">
                    <a href="">Filtrar</a>
                </div>
            </div>

            <div class="box categorias-livros">
                <h2 class="title-categorias-livros">Categorias e Livros</h2>
                <label for="categorias-filtro">Escolha as Categorias</label>
                <select name="categorias-filtro" id="categorias-filtro" multiple>

                    <% categorias.forEach(cat => { %>
                        <option value="<%=cat.cat_id%>"><%=cat.cat_nome%></option>
                    <% }); %>

                </select>

                <label for="livros-filtro">Escolha os Livros</label>
                <select name="livros-filtro" id="livros-filtro" multiple>

                    <% livros.forEach(livro => { %>
                        <option value="<%=livro.lvr_id%>"><%=livro.lvr_titulo%></option>
                    <% }); %>

                </select>

                <div class="btn-flt-livros">
                    <a href="">Filtrar</a>
                </div>
            </div>
          
            <h2 class="title">Análise do Histórico de Vendas (Top 5 por padrão)</h2>
            <div class="grafico">
                <div id="historico-vendas"></div>
            </div>
        
        </main>
        
        <%- include('../components/footer')%>

    </div>

    <!-- CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- Meus JavaScripts -->
    <script type="module" src="/javaScript/pages/analise/historicoVendas.js"></script>

</body>
</html>