<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/analise/logs.css">
    <link rel="shortcut icon" href="/images/icon/book.png" type="image/x-icon">
    <title>Logs do Sistema</title>
</head>
<body>

    <div class="main-container">
      
        <%- include('../components/header', {
            titulo: 'Log do Sistema',
            path: '/'
        })%>

        <main>
            <div class="container">
                <table data-cy="log-table">
                    <tr class="tb-header" data-cy="log-header">
                        <th class="top-left">Data</th>
                        <th>Usuário</th>
                        <th>Operação</th>
                        <th class="top-right">Descrição</th>
                    </tr>

                    <% logs.forEach(log => { %>

                        <tr class="tb-body" data-cy="log-row">
                            <td><%=log.hlog_dataHora%></td>
                            <td><%=log.hlog_usuario%></td>
                            <td><%=log.hlog_operacao%></td>
                            <td><%=log.hlog_desc%></td>
                        </tr>

                    <% }); %>
                    
                </table>
            </div>
        </main>

        <%- include('../components/footer')%>

    </div>

    <!-- My JS Scripts -->
    <script src="/javaScript/pages/analise/logs.js" type="module"></script>

</body>
</html>