<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/analise/estoque/estoque.css">
    <link rel="shortcut icon" href="/images/icon/book.png" type="image/x-icon">
    <title>Estoque</title>
</head>
<body>
    <div class="main-container">
        
        <%- include('../../components/header', {
            titulo: 'Controle de Estoque',
            path: '/'
        })%>

        <main>
            <div class="btn-entrada">
                <a href="/estoque/entrada">Nova Entrada no Estoque</a>
            </div>
            <table class="estoque">

                <tr class="tb-header">
                    <th class="top-left">Data de Entrada</th>
                    <th>Livro</th>
                    <th>Fornecedor</th>
                    <th>Quantidade Disponível</th>
                    <th>Valor de Custo</th>
                    <th>Grupo Precificação</th>
                    <th>Margem de Lucro</th>
                    <th class="top-right">Origem</th>
                </tr>

                <% estoque.forEach(row => { %>
                    <tr class="tb-body">
                        <td><%=row.est_data%></td>
                        <td><%=row.lvr_titulo%></td>
                        <td><%=row.for_nome%></td>
                        <td><%=row.est_qtd%></td>
                        <td>R$ <%=String(row.est_valorCompra).replace('.', ',')%></td>
                        <td><%=row.gpp_nome%></td>
                        <td><%=row.gpp_margemLucro%100%>%</td>
                        <td><%=row.est_origem%>
                    </tr>
                <% }); %>
            </table>
            
        </main>

        <%- include('../../components/footer')%>

    </div>

</body>
</html>