<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/analise/estoque/estoqueEntrada.css">
    <title>Nova Entrada no Estoque</title>
</head>
<body>
    
    <div class="main-container">
       
        <%- include('../../components/header', {
            titulo: 'Nova Entrada no Estoque',
            path: Object.keys(query).length > 2 ? query.retorno : '/estoque'
        })%>

        <main>
            <form class="forms" action="/estoque">
                
                <h2 class="title">Entrada no Estoque</h2>

                <label for="livro">Livros Cadastrados</label>
                <select name="livro" id="livro" required>
                    <option value="<%=Object.keys(query).length !== 0?livro.lvr_id:''%>" disabled selected><%=Object.keys(query).length !== 0?livro.lvr_titulo:"Selecione um Livro"%></option>

                    <% livros.forEach(livro => { %>
                        <option value="<%=livro.lvr_id%>"><%=livro.lvr_titulo%></option>
                    <% }); %>

                </select>
            
                <label for="fornecedor">Fornecedor</label>

                <select name="fornecedor" id="fornecedor" required disabled>
                    <option value="<%=Object.keys(query).length !== 0?fornecedor.for_id:''%>" disabled selected><%=Object.keys(query).length !== 0?fornecedor.for_nome:"Fornecedor"%></option>
                </select>
            
                <label for="qtd">Quantidade do Item</label>
                <input type="number" id="qtd" name="qtd" min="1" placeholder="Ex: 10" required value="<%=query?troca.trc_qtd:''%>">
            
                <label for="valor_custo">Valor de Custo (R$)</label>
                <input type="number" id="valor_custo" name="valor_custo" step="0.01" min="0" placeholder="Ex: 45.00" required value="<%=query?troca.trc_preco:''%>">
            
                <label for="grupo_precificacao">Grupo de Precificação</label>
                <select name="grupo_precificacao" id="grupo_precificacao" required disabled>
                    <option value="<%=Object.keys(query).length !== 0?grpPre.gpp_id:''%>" disabled selected><%=Object.keys(query).length !== 0?grpPre.gpp_nome + ` (${grpPre.gpp_margemLucro%100}%)`:"Grupo Precificação"%></option>
                </select>
                
                <div class="submit">
                    <button type="submit">Confirmar</button>
                </div>
            </form>
        </main>

        <%- include('../../components/footer')%>

    </div>

    <!-- CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- Meus JavaScripts -->
    <script type="module" src="/javaScript/pages/analise/estoqueEntrada.js"></script>

</body>
</html>