<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <title>e-commerce-livros</title>
</head>
<body>

    <div class="main-container">

        <%- include('../components/headerIndex') %>
        
        <main>
            <div class="banner"></div>
            <div class="books">


                <% livros.forEach(livro => { %>

                    <div class="book">
                        <div class="imagem">
                            <img src="<%=livro.lvr_capa%>" alt="">
                        </div>
                        <p><strong><%=livro.lvr_titulo%></strong></p>
                        <p class="invisible book-id"><%=livro.lvr_id%></p>
                        <p class="preco">R$100,00</p>
                        <div class="compra"><a href="/pagamento">Comprar</a></div>
                    </div>

                <% }); %>
        </main>

        <div class="space"></div>

        <%- include('../components/footer') %>
    </div>

    <script type="module" src="/javaScript/pages/index/index.js"></script>

</body>
</html>