<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/clientes/address.css">
    <link rel="stylesheet" href="/css/components/popup.css">
    <link rel="shortcut icon" href="/images/icon/book.png" type="image/x-icon">
    <title>Endereços Cadastrados</title>
</head>
<body>

    <div class="main-container">

        <%- include('../../components/header', {
            titulo: 'Gerenciamento de Endereços',
            path: '/clientes'
        })%>

        <div class="container-address-flex">
            <div class="container-address">
                <h2 class="title">Endereços</h2>
                <div class="seletores">
                    <div>
                        <label for="rsd">Residencial</label>
                        <select name="residencial" id="rsd">
                            <% enderecos.forEach(endereco => { %>
                                <option value="<%=endereco.end_logradouro%>"><%=endereco.end_logradouro%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div>
                        <label for="etr">Entrega</label>
                        <select name="entrega" id="etr">
                            <% enderecos.forEach(endereco => { %>
                                <option value="<%=endereco.end_logradouro%>"><%=endereco.end_logradouro%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div>
                        <label for="cbr">Cobrança</label>
                        <select name="cobranca" id="cbr">
                            <% enderecos.forEach(endereco => { %>
                                <option value="<%=endereco.end_logradouro%>"><%=endereco.end_logradouro%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <% enderecos.forEach(endereco => { %>
                    <div class="endereco-wrapper">
                        <div class="endereco">
                            <p class="invisible address-id"><%=endereco.end_id%></p>
                            <h2><%=endereco.end_logradouro%></h2>
                            <p><%=endereco.end_bairro%></p>
                            <p><strong>Número: </strong><%=endereco.end_numero%></p>
                        </div>
                        <div class="acoes-address">
                            <a class="alt" href="#">Alterar</a>
                            <a class="delete" href="">Excluir</a>
                        </div>
                    </div>
                <% }); %>
        
                <div class="endereco-add">
                    <a class="add" href="/clientes/address/<%=enderecos[0].end_clt_id%>/add">Adicionar novo endereço</a>
                </div>
            </div>
        </div>

        <%- include('../../components/footer')%>

    </div>

    <script type="module" src="/javaScript/pages/clientes/address/address-main.js"></script>
    <script type="module" src="/javaScript/components/clientes/popupAddress.js"></script>
</body>
</html>