<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/carrinho.css">
    <link rel="shortcut icon" href="/images/icon/book.png" type="image/x-icon">
    <title>Carrinho</title>
</head>
<body>

    <div class="main-container">
       
        <%- include('../components/header', {
            titulo: 'Carrinho de ' + cliente[0].clt_nome.split(' ')[0],
            path: '/'
        })%>

        <main>
            <div class="cart-container">
                <h2 class="title">Itens no Carrinho 🛒</h2>
                <% carrinho.forEach(item => { %>
                    <div class="wrapper">
                        <div class="imagem">
                            <img src="<%=item.lvr_capa%>" alt="">
                        </div>
                        <div class="livro-title">
                            <p class="invisible book-id"><%=item.lvr_id%></p>
                            <p><h2><%=item.lvr_titulo%></h2></p>
                            <p class="price"><strong>R<span>$</span> <%=String(item.lvr_preco).replace('.', ',')%></strong></p>
                        </div>
                        <div class="qtd">
                            <button class="diminuir">-</button>
                            <span id="contador"><%=item.crr_qtd%></span>
                            <button class="aumentar">+</button>
                        </div>
                        <div class="acoes">
                            <button class="delete" >Remover</button>
                        </div>
                    </div>
                <% }); %>
                <%
                
                let total = 0;
                carrinho.forEach(item => {
                    total += Number(item.crr_total);
                }); %>
                <h2 class="total">Total de R<span>$</span> <%=String(total.toFixed(2)).replace('.', ',')%></h2>
                <div class="pagamento">
                    <a href="/pagamento?page=/carrinho">Ir para Pagamento</a>
                </div>
            </div>
        </main>

        <div class="assistant">
            <%- include('../components/assistant')%>
        </div>

        <%- include('../components/footer')%>

    </div>


    <script type="module" src="/javaScript/pages/compras/carrinho.js"></script>
</body>
</html>