<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/compras/produto.css">
    <title>Produto</title>
</head>
<body>

    <div class="main-container">
        
        <%- include('../components/header', {
            titulo: 'Produto',
            path: '/'
        })%>

        <main>
            <div class="imagem">
                <img src="<%=livro.lvr_capa%>" alt="">
            </div>
            <div class="compra">
                <h2 class="title"><%=livro.lvr_titulo%></h2>
                <p class="preco"><strong>R$<%=String(livro.lvr_preco).replace('.', ',')%></strong>
                </p>
                <div class="qtd">
                    <button class="diminuir">-</button>
                    <span id="contador">1</span>
                    <button class="aumentar">+</button>
                </div>
                <div class="opcoes">
                    <a class="comprar">Comprar</a>
                    <a class="carrinho">Adicionar ao Carrinho</a>
                </div>
            </div>
            <div class="sinopse">
        
                <h2 class="title-desc">Descrição do Produto</h2>
                <p class="sinopse-text"><%=livro.lvr_sinopse%></p>
            </div>
        </main>

        <div class="assistant">
            <%- include('../components/assistant')%>
        </div>

        <%- include('../components/footer')%>

    </div>


    <script type="module" src="/javaScript/pages/compras/produto.js"></script>
</body>
</html>