<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/clientes/card.css">
    <title>Cart천es Cadastrados</title>
</head>
<body>

    <div class="main-container">

        <%- include('../../components/header', {
            titulo: 'Gerenciamento de Cart천es',
            path: '/clientes'
        })%>

        <div class="container-card-flex">
            <div class="container-card-main">
                <h2 class="title">Cart천es</h2>
        
                <div class="preferencia-cartao">
                    <label>Preferencia</label>
                    <select name="preferencia" id="preferencia">
                        <% cartoes.forEach(carttao => { %>
                            <option value=""><%=`${carttao.car_bandeira}-${carttao.car_numero.slice(-4)}`%></option>
                        <% }); %>
                    </select>
                </div>
                <% cartoes.forEach(carttao => { %>
                    <div class="card-wrapper">
                        <div class="card-main">
                            <p class="invisible card-id"><%=carttao.car_id%></p>
                            <h2><%=carttao.car_bandeira%></h2>
                            <p><%=carttao.car_nome%></p>
                            <p><strong>Final: </strong><%=carttao.car_numero.slice(-4)%></p>
                        </div>
                        <div class="acoes-card">
                            <a class="alt" href="#">Alterar</a>
                            <a class="delete" href="">excluir</a>
                        </div>
                    </div>
                <% }); %>
                <div class="card-add">
                    <a href="/clientes/card/<%=cartoes[0].car_clt_id%>/add">Adicionar novo cart찾o</a>
                </div>
            </div>
        </div>

        <%- include('../../components/footer')%>

    </div>

    <script type="module" src="/javaScript/pages/clientes/card/card-main.js"></script>
</body>
</html>