<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cartões Cadastrados</title>
</head>
<body>
    <div class="voltar"><a href="/">Voltar</a></div>

    <div class="container-card-flex">
        <div class="container-card-main">
            <h2>Catões</h2>
            <div class="preferencia-cartao">
                <label>Preferencia</label>
                <select name="preferencia" id="preferencia">
                    <% cartoes.forEach(carttao => { %>

                        <option value=""><%=`${carttao.car_bandeira}-${carttao.car_numero.slice(-4)}`%></option>

                    <% }); %>
                </select>
            </div>

            <% cartoes.forEach(carttao => { %>

                <div class="card-wrapper">
                    <div class="card-main">
                        <p class="invisible card-id"><%=carttao.car_id%></p>
                        <h3><%=carttao.car_bandeira%></h3>
                        <p><strong>Final: </strong><%=carttao.car_numero.slice(-4)%></p>
                    </div>
                    <div class="acoes-card">
                        <a class="alt" href="#">Alterar</a>
                        <a href="">excluir</a>
                    </div>
                </div>

            <% }); %>

            <div class="card-add">
                <a href="/card/<%=cartoes[0].car_clt_id%>/add">Adicionar novo cartão</a>
            </div>
        </div>
    </div>

    <script type="module" src="/javaScript/card/card-main.js"></script>
</body>
</html>