<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/analise/gerenciarPedidos.css">
    <title>Gerenciamento de Pedidos</title>
</head>
<body>
    
    <div class="main-container">
        
        <%- include('../components/header', {
            titulo: 'Gerenciamento de Pedidos',
            path: '/'
        })%>

        <main>
            <h2 class="title">Buscar por Clientes</h2>
            <div class="filtro_clientes">
                <input type="text" placeholder="Nome">
                <input type="email" placeholder="E-mail">
                <input type="text" placeholder="Telefone">
                <input type="text" placeholder="CPF ">
                <input type="date" placeholder="Data de Nascimento">
                <input type="text" placeholder="Gênero">
                <button>Filtrar</button>
            </div>

            <div class="troca">

                <h2>Itens em Troca</h2>

                <div class="wrapper">
                    <div class="imagem">
                        <img src="#" alt="">
                    </div>
                    <div>
                        <h2>Game of Thrones</h2>
                        <p>20-10-2020</p>
                        <p><strong>Comprador: </strong>João Neto</p>
                    </div>
                    <div class="acoes">
                        <a href="/estoque/entrada">Retornar ao Estoque</a>
                    </div>
                </div>
            </div>

            <% clientes.forEach(cliente => { %>

                <div class="pedidos">
                    <h2><%=cliente.clt_nome%> - <%=cliente.clt_cpf%></h2>

                    <% 
                   
                    pedidos.filter(ped => ped.clt_id === cliente.clt_id).forEach(pedido => { 
                
                    pedido.vnd_data = new Date(pedido.vnd_data).toLocaleDateString('pt-BR');

                    %>

                        <div class="wrapper">
                            <div class="imagem">
                                <img src="<%=pedido.lvr_capa%>" alt="">
                            </div>
                            <div>
                                <h2><%=pedido.lvr_titulo%></h2>
                                <p class="invisible vnd-id"><%=pedido.vnd_id%></p>
                                <p><%=pedido.vnd_data%></p>
                                <p><strong>Comprador: </strong><%=pedido.clt_nome%></p>
                            </div>
                            <div class="status">
                                
                                <div>
                                    <p class="invisible status-atual"><%=pedido.vnd_status%></p>
                                </div>

                                <select name="processamento" id="processamento">
                                    <option value="Em Processamento" <%= pedido.vnd_status === 'Em Processamento' ? 'selected' : '' %>>Em Processamento</option>
                                    <option value="Reprovado" <%= pedido.vnd_status === 'Reprovado' ? 'selected' : '' %>>Reprovado</option>
                                    <option value="Aprovado" <%= pedido.vnd_status === 'Aprovado' ? 'selected' : '' %>>Aprovado</option>
                                    <option value="Cancelado" <%= pedido.vnd_status === 'Cancelado' ? 'selected' : '' %>>Cancelado</option>
                                </select>
                                
                                <select name="entrega" id="entrega">
                                    <option value="" <%= pedido.vnd_status === '' ? 'selected' : '' %>>Gerenciar Entrega</option>
                                    <option value="Em Transporte" <%= pedido.vnd_status === 'Em Transporte' ? 'selected' : '' %>>Em Transporte</option>
                                    <option value="Entregue" <%= pedido.vnd_status === 'Entregue' ? 'selected' : '' %>>Entregue</option>
                                </select>
                                
                                <select name="troca" id="troca">
                                    <option value="" <%= pedido.vnd_status === '' ? 'selected' : '' %>>Gerenciar Troca</option>
                                    <option value="Troca Solicitada" <%= pedido.vnd_status === 'Troca Solicitada' ? 'selected' : '' %>>Troca Solicitada</option>
                                    <option value="Troca Aceita" <%= pedido.vnd_status === 'Troca Aceita' ? 'selected' : '' %>>Troca Aceita</option>
                                    <option value="Troca Concluída" <%= pedido.vnd_status === 'Troca Concluída' ? 'selected' : '' %>>Troca Concluída</option>
                                    <option value="Troca Recusada" <%= pedido.vnd_status === 'Troca Recusada' ? 'selected' : '' %>>Troca Recusada</option>
                                </select>
                                
                                <select name="devolucao" id="devolucao">
                                    <option value="Devolução Solicitada" <%= pedido.vnd_status === 'Devolução Solicitada' ? 'selected' : '' %>>Gerenciar Devolução</option>
                                    <option value="Devolução Solicitada" <%= pedido.vnd_status === 'Devolução Solicitada' ? 'selected' : '' %>>Devolução Solicitada</option>
                                    <option value="Devolução Aceita" <%= pedido.vnd_status === 'Devolução Aceita' ? 'selected' : '' %>>Devolução Aceita</option>
                                    <option value="Devolução Concluída" <%= pedido.vnd_status === 'Devolução Concluída' ? 'selected' : '' %>>Devolução Concluída</option>
                                    <option value="Devolução Recusada" <%= pedido.vnd_status === 'Devolução Recusada' ? 'selected' : '' %>>Devolução Recusada</option>
                                </select>
                            </div>
                        </div>

                    <% }); %>

                </div>

            <% }); %>
            
        </main>

        <%- include('../components/footer')%>

    </div>

    <script type="module" src="/javaScript/pages/analise/gerenciarPedidos.js"></script>

</body>
</html>