<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/analise/gerenciarPedidos.css">
    <title>Gerenciamento de Pedidos</title>
</head>
<body>
    
    <div class="main-container">
        
        <%- include('../components/header', {
            titulo: 'Gerenciamento de Pedidos',
            path: '/'
        })%>

        <main>
            <h2 class="title">Buscar por Clientes</h2>
            <div class="filtro_clientes">
                <input type="text" placeholder="Nome">
                <input type="email" placeholder="E-mail">
                <input type="text" placeholder="Telefone">
                <input type="text" placeholder="CPF ">
                <input type="date" placeholder="Data de Nascimento">
                <input type="text" placeholder="Gênero">
                <button>Filtrar</button>
            </div>

            <div class="troca">

                <h2>Itens em Troca</h2>

                <div class="wrapper">
                    <div class="imagem">
                        <img src="/images/livros/got.jpg" alt="">
                    </div>
                    <div>
                        <h2>Game of Thrones</h2>
                        <p>20-10-2020</p>
                        <p><strong>Comprador: </strong>João Neto</p>
                    </div>
                    <div class="acoes">
                        <a href="/estoque/entrada">Retornar ao Estoque</a>
                    </div>
                </div>
            </div>

            <% clientes.forEach(cliente => { %>

                <div class="pedidos">
                    <h2><%=cliente.clt_nome%> - <%=cliente.clt_cpf%></h2>

                    <% 
                   
                    pedidos.filter(ped => ped.clt_id === cliente.clt_id).forEach(pedido => { 
                
                    pedido.vnd_data = new Date(pedido.vnd_data).toLocaleDateString('pt-BR');

                    %>

                        <div class="wrapper">
                            <div class="imagem">
                                <img src="<%=pedido.lvr_capa%>" alt="">
                            </div>
                            <div>
                                <h2><%=pedido.lvr_titulo%></h2>
                                <p><%=pedido.vnd_data%></p>
                                <p><strong>Comprador: </strong><%=pedido.clt_nome%></p>
                            </div>
                            <div class="status">
                            
                                <select name="processamento" id="processamento">
                                    <option value="">Em Processamento</option>
                                    <option value="">Reprovado</option>
                                    <option value="">Aprovado</option>
                                    <option value="">Cancelado</option>
                                </select>
                                <select name="entrega" id="entrega">
                                    <option value="">Em Transporte</option>
                                    <option value="">Entregue</option>
                                </select>
                                <select name="troca" id="troca">
                                    <option value="">Troca Solicitada</option>
                                    <option value="">Troca Aceita</option>
                                    <option value="">Troca Concluída</option>
                                    <option value="">Troca Recusada</option>
                                </select>
                                <select name="devolucao" id="devolucao">
                                    <option value="">Devolução Solicitada</option>
                                    <option value="">Devolução Aceita</option>
                                    <option value="">Devolução Concluída</option>
                                    <option value="">Devolução Recusada</option>
                                </select>
                            </div>
                        </div>

                    <% }); %>

                </div>

            <% }); %>
            
        </main>

        <%- include('../components/footer')%>

    </div>

</body>
</html>