 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/perfil.css">
    <title>Perfil</title>
 </head>
 <body>
    
    <div class="main-container">
        
        <%- include('components/header', {
            titulo: 'Perfil de João',
            path: '/'
        })%>

        <main>
            <div class="flex-container">
        
                <% cliente.clt_dataNasc = new Date(cliente.clt_dataNasc).toLocaleDateString('pt-BR'); %>

                <div class="usuario box">
                    <h2 class="title">Dados de <%=cliente.clt_nome.split(' ')[0]%></h2>
                    <div class="flex-usuario">
                        <div class="dados">
                            <p><strong>Nome Completo: </strong><%=cliente.clt_nome%><p/>
                            <p><strong>E-mail: </strong><%=cliente.clt_email%><p/>
                            <p><strong>Telefone: </strong><%=cliente.clt_telefone%><p/>
                            <p><strong>CPF: </strong><%=cliente.clt_cpf%><p/>
                            <p><strong>Gênero: </strong><%=cliente.clt_genero%><p/>
                            <p><strong>Data Nascimento: </strong><%=cliente.clt_dataNasc%><p/>
                            <p><strong>Ranking: </strong><%=cliente.clt_ranking%><p/>
                        </div>
                        <div class="imagem-perfil">
                            <img src="/images/perfil/perfil.png" alt="">
                        </div>
                    </div>
                    <div class="botao add">
                        <a href="/clientes/signup/<%=cliente.clt_id%>?retorno=perfil">Alterar Cliente</a>
                    </div>
                </div>
                <div class="cartoes box">

                    <h2 class="title">Cartões Cadastrados</h2>

                    <% cartoes.forEach(cartao => { %>

                        <div class="wrapper">
                            <div class="card-main">
                                <p class="invisible card-id"><%=cartao.car_id%></p>
                                <p class="invisible cliente-id"><%=cliente.clt_id%></p>
                                <h2><%=cartao.car_bandeira%></h2>
                                <p><%=cartao.car_nome%></p>
                                <p><strong>Final: </strong><%=cartao.car_numero.slice(-4)%></p>
                            </div>
                            <div class="acoes">
                                <a class="alt" href="/clientes/card/<%=cliente.clt_id%>/alt/<%=cartao.car_id%>?retorno=perfil">Alterar</a>
                                <a class="delete-card">Excluir</a>
                            </div>
                        </div>

                    <% }); %>

                    <div class="center add">
                        <a href="/clientes/card/<%=cliente.clt_id%>/add?retorno=perfil">Adicionar Novo Cartão</a>
                    </div>
                </div>
                <div class="enderecos box">
                    <h2 class="title">Endereços Cadastrados</h2>


                    <% enderecos.forEach(endereco => { %>

                        <div class="wrapper">
                            <div>
                                <p class="invisible address-id"><%=endereco.end_id%></p>
                                <p class="invisible cliente-id"><%=cliente.clt_id%></p>
                                <h2><%=endereco.end_nome%></h2>
                                <p><%=endereco.end_bairro%></p>
                                <p><strong>Número: </strong><%=endereco.end_numero%></p>
                            </div>
                            <div class="acoes">
                                <a class="alt" href="/clientes/address/<%=cliente.clt_id%>/alt/<%=endereco.end_id%>?retorno=perfil">Alterar</a>
                                <a class="delete-address" >Excluir</a>
                            </div>
                        </div>

                    <% }); %>

                    <div class="center add">
                        <a href="/clientes/address/<%=cliente.clt_id%>/add?retorno=perfil">Adiconar Novo Endereço</a>
                    </div>
                </div>
            </div>
        </main>
        
        <%- include('components/footer')%>
        
    </div>

    <script type="module" src="/javaScript/pages/perfil.js"></script>

 </body>
 </html>