 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/perfil.css">
    <title>Perfil</title>
 </head>
 <body>
    
    <div class="main-container">
        
        <%- include('components/header', {
            titulo: 'Perfil de João',
            path: '/'
        })%>

        <main>
            <div class="flex-container">
        
                <% cliente.clt_dataNasc = new Date(cliente.clt_dataNasc).toLocaleDateString('pt-BR'); %>

                <div class="usuario box">
                    <h2 class="title">Dados de <%=cliente.clt_nome.split(' ')[0]%></h2>
                    <div class="flex-usuario">
                        <div class="dados">
                            <p><strong>Nome Completo: </strong><%=cliente.clt_nome%><p/>
                            <p><strong>E-mail: </strong><%=cliente.clt_email%><p/>
                            <p><strong>Telefone: </strong><%=cliente.clt_telefone%><p/>
                            <p><strong>CPF: </strong><%=cliente.clt_cpf%><p/>
                            <p><strong>Gênero: </strong><%=cliente.clt_genero%><p/>
                            <p><strong>Data Nascimento: </strong><%=cliente.clt_dataNasc%><p/>
                            <p><strong>Ranking: </strong><%=cliente.clt_ranking%><p/>
                        </div>
                        <div class="imagem-perfil">
                            <img src="/images/perfil/perfil.png" alt="">
                        </div>
                    </div>
                    <div class="botao">
                        <button>Alterar Dados</button>
                    </div>
                </div>
                <div class="cartoes box">

                    <h2 class="title">Cartões Cadastrados</h2>
                    <div class="wrapper">
                        <div class="card-main">
                            <h2>Visa</h2>
                            <p>João Neto</p>
                            <p><strong>Final: </strong>1234</p>
                        </div>
                        <div class="acoes">
                            <a class="alt" href="#">Alterar</a>
                            <a href="">Excluir</a>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div>
                            <h2>Mastercard</h2>
                            <p>João Neto</p>
                            <p><strong>Final: </strong>4362</p>
                        </div>
                        <div class="acoes">
                            <a class="alt" href="#">Alterar</a>
                            <a href="">Excluir</a>
                        </div>
                    </div>
                    <div class="center add">
                        <a href="">Adicioanr Novo Cartão</a>
                    </div>
                </div>
                <div class="enderecos box">
                    <h2 class="title">Endereços Cadastrados: </h2>
                    <div class="wrapper">
                        <div>
                            <h2>Estrada Antiga Imperial</h2>
                            <p>Vila São Paulo</p>
                            <p><strong>Número: </strong>123</p>
                        </div>
                        <div class="acoes">
                            <a class="alt" href="#">Alterar</a>
                            <a href="">Excluir</a>
                        </div>
                    </div>
                    <div class="center add">
                        <a href="">Adiconar Novo Endereço</a>
                    </div>
                </div>
            </div>
        </main>
        
        <%- include('components/footer')%>
        
    </div>


 </body>
 </html>