<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/clientes/clientes.css">
    <link rel="stylesheet" href="/css/components/popup.css">
    <link rel="shortcut icon" href="/images/icon/book.png" type="image/x-icon">
    <title>Gerenciamento de Clientes</title>
</head>
<body>
    <div class="main-container">
       
        <%- include('../components/header', {
            titulo: 'Gerenciamento de Clientes',
            path: '/'
        })%>

        <div class="flex-container">

            <div class="flt-container">
                <form class="filtro_clientes">
                    <input id="nome" type="text" placeholder="Nome">
                    <input id="email" type="email" placeholder="E-mail">
                    <input id="telefone" type="text" placeholder="Telefone">
                    <input id="cpf" type="text" placeholder="CPF ">
                    <input id="dataNasc" type="date" placeholder="Data de Nascimento">
                    <input id="genero" type="text" placeholder="Gênero">
                    <button type="submit" id="btn-filtro">Filtrar</button>
                </form>
            </div>

            <div class="container-index">

                <div class="button">
                    <a class="signup" href="/clientes/signup?retorno=clientes">+</a>
                </div>
                <div class="container-clients">
                    <%
                        clientes.forEach(cliente => { %>
                            <div class="wrapper">
                                <div class="cliente">
                                    <div class="clt-info">
                                        <%
                                            const date = new Date(cliente.clt_dataNasc).toLocaleDateString('pt-BR');
                                        %>
                                        <p class="invisible cliente-id"><%=cliente.clt_id%></p>
                                        <h3><%=cliente.clt_nome%></h3>
                                        <p><%=cliente.clt_email%></p>
                                        <% if(loggedinClient.length > 0){ %>
                                            <p><%=date%></p>
                                        <% } %>
                                        <p>...</p>
                                    </div>
                                </div>
                                <div class="acoes">
                                    <a class="alt">Alterar</a>
                                    <a class="inat">Inativar</a>
                                    <a class="tran">Transações</a>
                                    <a class="login">Logar</a>
                                </div>
                            </div>
                            <%
                        });
                    %>
                </div>
            </div>
        </div>

        <%- include('../components/footer')%>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>
    <script type="module" src="/javaScript/validations/clientes/validacoesFiltro.js"></script>
    <script type="module" src="/javaScript/pages/clientes/clientes.js"></script>
    <script type="module" src="/javaScript/components/clientes/popupClientes.js"></script>
</body>
</html>