<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages/clientes/clientes.css">
    <link rel="stylesheet" href="/css/components/popup.css">
    <link rel="shortcut icon" href="/images/icon/book.png" type="image/x-icon">
    <title>Gerenciamento de Clientes</title>
</head>
<body>
    <div class="main-container">
       
        <%- include('../components/header', {
            titulo: 'Gerenciamento de Clientes',
            path: '/'
        })%>

        <div class="flex-container">
            <div class="container-index">
                <div class="msg-clientes">
        
                    <div class="filtro">
                        <span id="flt"><img src="images/clientes/filtro.png" alt="filtro"></span>
                    </div>
                    <form class="filtro_clientes">
                        <input id="nome" type="text" placeholder="Nome">
                        <input id="email" type="email" placeholder="E-mail">
                        <input id="telefone" type="text" placeholder="Telefone">
                        <input id="cpf" type="text" placeholder="CPF ">
                        <input id="dataNasc" type="date" placeholder="Data de Nascimento">
                        <input id="genero" type="text" placeholder="Gênero">
                        <button type="submit" id="btn-filtro">Filtrar</button>
                    </form>
                </div>
                <div class="button">
                    <a href="/clientes/signup?retorno=clientes">Cadastrar Cliente</a>
                </div>
                <%
                    clientes.forEach(cliente => { %>
                        <div class="wrapper">
                            <div class="cliente">
                                <p class="invisible cliente-id"><%=cliente.clt_id%></p>
                                <p><%=cliente.clt_nome%></p>
                                <p><%=cliente.clt_email%></p>
                            </div>
                            <div class="acoes">
                                <a class="alt">Alterar</a>
                                <a class="inat">Inativar</a>
                                <a class="tran">Transações</a>
                                <a class="login">Logar</a>
                            </div>
                        </div>
                        <%
                    });
                %>
            </div>
        </div>

        <%- include('../components/footer')%>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>
    <script type="module" src="/javaScript/validations/clientes/validacoesFiltro.js"></script>
    <script type="module" src="/javaScript/pages/clientes/clientes.js"></script>
    <script type="module" src="/javaScript/components/clientes/popupClientes.js"></script>
</body>
</html>